<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>userList</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css"></link>
</head>
<body class="container">
<br/>
<h1>用户列表</h1>
<br/><br/>
<div class="with:80%">
    <table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>User Name</th>
        <th>Age</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="user : ${users}">
        <th scope="row" th:text="${user.id}">1</th>
        <td th:text="${user.userName}">neo</td>
        <td th:text="${user.age}">6</td>
        <td><a href="./edit.html" th:href="@{/user/toEdit(id=${user.id})}">edit</a></td>
        <td><a href="./list.html" th:href="@{/user/delete(id=${user.id})}">delete</a></td>
    </tr>
    </tbody>
</table>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>User Name</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user : ${users}" th:object="${user}">
            <th scope="row" th:text="*{id}">1</th>
            <td th:text="*{userName}">neo</td>
            <td th:text="*{age}">6</td>
            <td><a href="./edit.html" th:href="@{/user/toEdit(id=*{id})}">edit</a></td>
            <td><a href="./list.html" th:href="@{/user/delete(id=*{id})}">delete</a></td>
        </tr>
        </tbody>
    </table>


    <table class="table table-hover">
        <thead>
        <tr>
            <th>index</th>
            <th>count</th>
            <th>size</th>
            <th>#</th>
            <th>User Name</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="user,count:${users}" th:object="${user}">
            <th th:text="${count.index}">index</th>
            <th th:text="${count.count}">count</th>
            <th th:text="${count.size}">size</th>
            <th scope="row" th:text="*{id}">1</th>
            <td th:text="*{userName}">neo</td>
            <td th:text="*{age}">6</td>
            <td><a href="./edit.html" th:href="@{/user/toEdit(id=*{id})}">edit</a></td>
            <td><a href="./list.html" th:href="@{/user/delete(id=*{id})}">delete</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="form-group">
    <div class="col-sm-2 control-label">
        <a href="./add.html" th:href="@{/user/toAdd}" class="btn btn-info">add</a>
    </div>
</div>

</body>
</html>